<!doctype html>
<head>
  <title>Hashtag/Handle Parser</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
  <div>
    <h1>Hashtag/Handle Parser</h1>
    <form>
      <span>Enter a hashtag/handle (20 characters max)</span><br>
      <input id="query" name="q"><button type="submit">Submit</button>
    </form>
  </div>
  <div>
    <h2>Results</h2>
    <p>Query: {{query}}</p>
    <p>Words Matched: {{", ".join(words)}}</p>
    <div>
      <h4>Combinations</h4>
      {% for result in results %}
        {% for item in result %}
          <span> {{item['w']}} </span>
        {% endfor %}
        </br>
      {% endfor %}
    </div>
  </div>
</body>
