<!doctype html>
<head>
  <title>Hashtag Parser</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
  <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
</head>
<body>
  <div>
    <h1>Hashtag Parser</h1>
    <span>Enter a hashtag/handle</span><input id="query" name="query"><button onclick="submitQuery()">Submit</button>
  </div>
  <p>Query: {{query}}</p>
  <p>Words Matched: {{", ".join(words)}}</p>
  <div>
    <h4>Results</h4>
    {% for result in results %}
      {% for item in result %}
        <span> {{item['w']}} </span>
      {% endfor %}
      </br>
    {% endfor %}
  </div>
</body>
